
#text-1{
    color:#1e3fd2;
}

.class-1{
    color:gold;
}

.class-1{
    background-color: rgb(200, 168, 119);
}

.class-1{
    text-align: center;
}

.class-1{
    margin: outo;
}

.class-2{
    color:chocolate;
}

.class-2{
    font-size: larger;
}

.class-2{
    font-family: Noto Serif JP;
}
